<!DOCTYPE html>
<html>
<head>
  <title>PlaylistToday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="#">
        <img src="/images/logo.gif" alt="Bulma logo" max-height:"40">
      </a>
    </div>

  </nav>
<div class="container">
<%= yield %>
</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>HAVAS</strong> by <a href="http://jgthms.com">Web Developer</a>. HAVAS 2016. The website content.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

</body>
</html>
